<% if job.title %>
  <div class="job-title-row">
      <h3 class="job-title"><%= job.title %></h3>
      <% if job.dates %>
        <div class="time">
            <span class="dtstart" title="<%= job.dates.start %>"><%= display_date(job.dates.start) %></span> -
            <span class="dtend" title="<%= job.dates.end %>"><%= display_date(job.dates.end) %></span>
        </div>
      <% end %>
  </div>
<% end %>
