<% contact_info = @resume_data.contact_info %>
<div class="contact-container container-block">
    <ul class="list-unstyled contact-list">
        <li class="address">
          <%= contact_info.address.street %><br/>
          <%= contact_info.address.city %>,
          <%= contact_info.address.state %>&nbsp;&nbsp;
          <%= contact_info.address.postal_code %>
        </li>
        <li class="email"><i class="fa fa-envelope"></i><a href="mailto:<%= contact_info.email %>"><%= contact_info.email %></a></li>
        <% if contact_info.phone %>
            <li class="phone"><i class="fa fa-phone"></i><a href="tel:<%= contact_info.phone %>"><%= contact_info.phone %></a></li>
        <% end %>
        <% if contact_info.homepage? || @resume_data.links? %>
          <hr/>
        <% end %>
        <% if contact_info.homepage? %>
            <li class="website"><i class="fa fa-globe"></i><a href="<%= contact_info.homepage %>" target="_blank"><%= contact_info.homepage %></a></li>
        <% end %>
        </ul>
        <% if @resume_data.links? %>
        <ul class="list-unstyled contact-list links">
            <% @resume_data.links.each do |link| %>
              <% link_data = eval("data.#{@active_resume_user}.links.links") %>
              <% @link = link_data.find{ |aLink| aLink.name == link.name } %>
                <% if @link %>
                  <li><i class="fa fa-link"></i><a href="<%= @link.url %>" target="_blank"><%= @link.name %></a></li>
                <% end %>
            <% end %>
        </ul>
        <hr class="hr-links" />
        <% end %>
</div>
