<% contact_info = @resume_data.contact_info %>
<div class="contact-container container-block">
    <ul class="list-unstyled contact-list">
        <li class="address">
          <%= contact_info.address.street %><br/>
          <%= contact_info.address.city %>,
          <%= contact_info.address.state %>&nbsp;&nbsp;
          <%= contact_info.address.postal_code %>
        </li>
        <li class="email"><i class="fa fa-envelope"></i><a href="mailto:<%= contact_info.email %>"><%= contact_info.email %></a></li>
        <% if contact_info.phone %>
            <li class="phone"><i class="fa fa-phone"></i><a href="tel:<%= contact_info.phone %>"><%= contact_info.phone %></a></li>
        <% end %>
        <% if contact_info.homepage? || @resume_data.links? %>
          <hr/>
        <% end %>
        <% if contact_info.homepage? %>
            <li class="website"><i class="fa fa-globe"></i><a href="<%= contact_info.homepage %>" target="_blank"><%= contact_info.homepage %></a></li>
        <% end %>
        <% if @resume_data.links? %>
            <% @resume_data.links.each do |link| %>
              <% @link = data.links.links.find{ |alink| alink.name == link.name } %>
                <li><i class="fa fa-link"></i><a href="<%= @link.url %>" target="_blank"><%= @link.name %></a></li>
            <% end %>
        <% end %>
        <hr/>
    </ul>
</div>
