<section class="section experiences-section">
  <h2 class="section-title">
    <% if @resume_data.pdf.useicons %>
      <i class="fa fa-briefcase"></i>
    <% end %>
    <%= @resume_data.headers.jobs %>
  </h2>

  <% @resume_data.jobs.each do |job| %>
    <% if job.include != false %>
      <% if job.file && (job.brief || !brief) %>
        <% job = data.jobs.jobs.find{ |ajob| ajob.id == job.id }%>
        <%= partial 'experience/job_full', :locals => {:job => job} %>
      <% else %>
        <% if !(job.key?("include")) || (job.include === true) %>
          <% if job.brief %>
            <%= partial 'experience/job_full', :locals => {:job => job} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if brief %>
    <div id="additionalExperience">Additional Past Experiences</div>
    <% @resume_data.jobs.each do |job| %>
      <% if !job.brief && job.include != false %>
        <% if job.file %>
          <% job = data.jobs.jobs.find{ |ajob| ajob.id == job.id }%>
          <div class="item">
            <%= partial 'experience/job_meta', :locals => {:job => job} %>
          </div>
        <% else %>
            <div class="item">
              <%= partial 'experience/job_meta', :locals => {:job => job} %>
            </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
