<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<% partial(:data, :locals => { :resume_data => nil }) %>

<%= partial 'header' %>

<body>
    <div class="menu-bar">
      <i class="fa fa-file"></i>
      <a href="<%= @resume_data.pdf.filename %>.pdf"><%= @resume_data.headers.download %></a>
    </div>
    <div class="wrapper">
        <div class="sidebar-wrapper">
          <% data.layout.content.right.each do |section| %>
            <%= partial section %>
          <% end %>
        </div>

        <div class="main-wrapper">
          <% data.layout.content.center.each do |section| %>
            <%= partial section, locals: {:brief => true} %>
          <% end %>
        </div>
    </div>
    <%= partial 'footer' %>
</body>

</html>
