<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<% partial(:data, :locals => { :resume_data => nil }) %>

<head>
  <%= partial 'header' %>
  <link id="theme-style" rel="stylesheet" href="./stylesheets/pdf.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <%= partial 'profile' %>
            <%= partial 'contact' %>
            <%= partial 'education' %>
            <%= partial 'skills' %>
            <%= partial 'certifications' %>
            <%= partial 'languages' %>
            <%= partial 'interests' %>
        </div>

        <div class="main-wrapper">
            <%= partial 'summary' %>
            <%= partial 'experiences', locals: {brief: false} %>
            <% if @resume_data.projects? %>
              <%= partial 'projects' %>
            <% end %>
            <% if @resume_data.volunteering %>
              <%= partial 'volunteering' %>
            <% end %>
        </div>
    </div>
    <%= partial 'footer.pdf' %>
</body>

</html>
